*{
    scroll-behavior: smooth;
   
}

body{
    margin:0;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
   
   
} 

.hero{
   display:flex;
  justify-content: space-between;
   padding:10px;
   background-image: url("/images/hero2.png");
   background-position: center;
   background-size:cover;
   height:100vh;
   width:100vw;
   background-repeat: no-repeat;
   flex-wrap: wrap;
 
   
}


#logo{
    padding:10px;
}
nav ul {
    list-style: none;
    display: flex;
    padding:10px;
   



}
nav ul li{
   color:white;
   margin: 20px;
  ;
}
nav ul li a{
    color: black;
    text-decoration:none;
    padding:30px;
    font-display: bold
   
   
}
.links:hover{
    color:#0056A0;
    text-decoration: underline;
}


   




input{
    padding:5px;
    width: 500px;
    height:50px;
    background-color: white;
  
    
}
textarea{
    margin-top:5px;
    height:60px;
    width:400px;
    background-color: white;
    text-align: left;
    padding:6px;

}
.btn1{
    width:200px;
    height:40px;
    background-color:#0056A0; 
    align-items: center;
    border-radius: 20px;
    color:white;
    margin-bottom:10px;

}
.btn1:hover{
    background-color:#48486e ;
}



.search{
    display: block;
   text-align: center;
    padding:10px;
    
}

#searchbar{
   
    width:50%;
    /*The use of these two is what brings out that nice-looking search bar. */
    border: 0.5px solid #cccccc;
    border-radius: 5px;
}

.footer{
    background-color:black;
    text-align: center;
    padding: 1px;
    color:white;
    
}
footer a img{
    margin:10px;
    bottom:0;
    
}
#book-collection {
    /*This is what has made my book to appear in the column form */
    display: grid;
    /*This is what has made to be in columns of 4 each in my browser */
    grid-template-columns: repeat(4, 1fr); 
 
    justify-content: center;
}

.card {
   
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    
    
   
}

.card button{
    /*This is what is making my button not appear at the side */
    width: 50%;
    margin-top:10px;
    border-radius: 5px;
    background-color:#0056A0; 
   color:white;
   
}


    
    .contact-container{
        display:flex;
        justify-content: center;
        gap:200px;
        background-color:#cccccc;
        flex-wrap: wrap;
       
        
    }
    .line-through{
        margin:40px ;
        margin-bottom:50px;
    }
    #con-header{
        text-align: center;
    }
   #con-image{
    border-radius: 50px;
 
   }
   #form-section{
    text-align: center;
    margin-top:20px;
   
   }
   
   #message{
        color:darkmagenta;
        display: none;
   }
   
   
   
   

    







