*{
    scroll-behavior: smooth;
}

body{
    margin:0;
} 
.hero{
   display:flex;
  justify-content: space-between;
   padding:10px;
   background-image: url("/images/hero2.png");
   background-position: center;
   background-size:cover;
   height:100vh;
   width:100vw;
   background-repeat: no-repeat;
 
   
}


#logo{
    padding:10px;
}
nav ul {
    list-style: none;
    display: flex;
    padding:10px;



}
nav ul li{
   color:white;
   margin: 20px;
}
nav ul li a{
    color: black;
    justify-content: space-between;
    text-decoration:none;
    padding:10px;
   
}
.links:hover{
    color:blue;
    text-decoration: underline;
}

.contact{
    font-size: x-large;
    background-color:white;
    padding:10px;
    justify-content: space-between;
    display:flex;
}


input{
    padding:5px;
    width: 300px;
    height:50px;
    background-color: white;
    border-radius: 20px;
}
textarea{
    margin-top:5px;
    height:60px;
    width:400px;
    background-color: white;
    border-radius: 20px; 
    text-align: left;
    padding:6px;

}
.btn1{
    width:200px;
    height:40px;
    background-color:#0056A0; 
    align-items: center;
    border-radius: 20px;
    color:white;

}


.footer{
    background-color:black;
    text-align: center;
    padding: 1px;
    color:white;
}
footer a img{
    margin:10px;
    
}
